// *************************************
//
//   Application
//   -> Loader for stylesheets
//
// *************************************

// -------------------------------------
//   Vendor
// -------------------------------------

@import "vendor/normalize";

// -------------------------------------
//   Fonts
// -------------------------------------

// -------------------------------------
//   Mixins
// -------------------------------------

@import "mixins/border_image";
@import "mixins/clearfix";

// -------------------------------------
//   Base
// -------------------------------------

@import "base/colors";
@import "base/base";
@import "base/helpers";

// -------------------------------------
//   Layouts
// -------------------------------------

@import "layouts/fixed_header";
@import "layouts/container";

// -------------------------------------
//   Modules
// -------------------------------------

@import "modules/horizontal_panel";
@import "modules/logo";

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Temporary styles
// -------------------------------------

.search-form {
  position: relative;
  top: -9px;
  left: 25%;
  display: inline-block;
  width: 21%;
  color: $silver;

  input {
    width: 100%;
    padding: 4px 17px;
    border: 1px solid $silver;
    border-radius: 5px;
    font-size: 16px;
  }

  i {
    position: absolute;
    top: 6px;
    right: 14px;
    font-size: 20px;
  }
}
