// -------------------------------------------
//   Container
//     -> Wraps contents
// -------------------------------------------

.container {
  margin: 0px auto;
  width: 100%;
  max-width: 1024px;

  .search-stats {
    position: relative;
    top: 45px;
  }
}

.with-content {
  margin-top: 85px;
}
