// -------------------------------------------
//   Fixed header
//     -> Header fixed at the top of the page
// -------------------------------------------

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border: 2px solid transparent;
  border-bottom-width: 0;
  @include border-image(url("../images/multicolor-border.jpg") 30 30 round);
}
