// -------------------------------------------
//   Search Results
// -------------------------------------------

.search-results {
  @include clearfix();
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;

  img {
    width: 100%;
  }

  footer {
    border-top: 1px solid $silver;
    padding: 5px 15px;
  }

  .social {
    text-align: right;

    i {
      color: $silver;
      cursor: pointer;

      &:hover {
        color: $gray;
      }
    }
  }
}

