// -------------------------------------------
//   Search Results
// -------------------------------------------

.search-results {
  -webkit-column-width:238px;
  -moz-column-width:238px;
  column-width:238px;
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;

  @include clearfix();
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;

  img {
    width: 100%;
  }

  footer {
    border-top: 1px solid $silver;
    padding: 5px 15px;
  }

  .social {
    text-align: right;

    i {
      color: $silver;
      cursor: pointer;

      &:hover {
        color: $gray;
      }
    }
  }
}

