// -------------------------------------------
//   Horizontal Panel
//     -> Panel with base nav and menues
// -------------------------------------------

.horizontal-panel {
  height: 85px;
  background: $white;

  .logo {
    position: relative;
    top: 24px;
  }

  .search-form {
    top: -9px;
    left: 25%;
    width: 26%;
  }

  nav {
    color: $silver;
    position: relative;
    display: inline-block;
    left: 50%;
    top: -12px;

    i {
      padding: 10px;
      border: 1px solid $athens-grey;
      border-radius: 5px;
      font-size: 20px;
    }
  }

  @include breakpoint(768px) {
    .search-form {
      left: 10%;
      width: 40%;
    }

    nav {
      display: none;
    }
  }
}
