// -------------------------------------------
//   Horizontal Panel
//     -> Panel with base nav and menues
// -------------------------------------------

.horizontal-panel {
  height: 85px;
  background: $white;

  .logo {
    position: relative;
    left: 10.6%;
    top: 24px;
  }
}
