// -------------------------------------------
//   Logo
// -------------------------------------------

.logo {
  display: inline-block;
  @include clearfix();

  .logo-image {
    display: inline-block;
    float: left;
  }

  .logo-text {
    display: inline-block;
    margin: 0;
    padding-left: 5px;
  }
}
