// -------------------------------------------
//   Search Form
// -------------------------------------------

.search-form {
  display: inline-block;
  color: $silver;

  input {
    width: 100%;
    padding: 4px 17px;
    border: 1px solid $silver;
    border-radius: 5px;
    font-size: 16px;
  }

  .search-icon {
    position: absolute;
    top: 6px;
    right: 14px;
    font-size: 20px;
  }
}
